  .btn1 {
      transition: all 0.3s ease;
  }

  .btn1:hover {
      transform: translateY(-2px);
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  #text:hover {
      -webkit-text-stroke: 2px #000;
      text-underline-offset: 5px;
      transform: translateY(-2px);
  }

  /* style.css */
  .btn-animated {
      background-color: #4285F4;
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
  }

  .btn-animated:hover {
      background-color: #1A73E8;
      box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
      transform: translateY(-2px);
  }

  .nav-link {
      transition: color 0.3s;
  }

  .nav-link:hover {
      color: #1A73E8;
  }

  .btn-logout {
      transition: background-color 0.3s, color 0.3s;
  }

  .btn-logout:hover {
      background-color: #FF0000;
      color: white;
  }

  /* style.css */
  @keyframes bounce {

      0%,
      100% {
          transform: scale(0.5);
      }

      50% {
          transform: scale(0);
      }
  }

  .animated-text:hover {
      animation: bounce 1s infinite alternate;
  }

  .backimage {
      /* background-image: url('../assets/back.avif'); */
      /* background-image: url('../assets/back1.jpg'); */
      object-fit: cover;
      background-size: cover;
      min-height: 100vh;
      opacity: 0.7;
      min-width: 100%;
  }